body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.container {
  width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow:hidden;
}
.button {
  display: inline-block;
  box-sizing: border-box;
  min-width: 240px;
  max-width: 500px;
  padding: 16px 10px;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;

  border-radius: 3px;
  color: #ffffff;
  background-color: #fb565a;
}
.button:hover,
.button:focus {
  background-color: #e74246;
}
.button:active {
  color: rgba(255, 255, 255,0.3);
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0,0,0,0.1) inset;
}
.main-header {
  background-color: #eee;
}
.main-header-logo {
  width: 160px;
  height: 65px;
  margin-right: 160px;
}
.site-navigation,
.user-navigation {
  list-style: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
.main-navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.main-navigation-wrapper {
  display: flex;
  width: 800px;
  margin: 0;
  margin-top: 15px;
  padding: 0;
}
.main-navigation-wrapper a {
  color: #000000;
}
.main-navigation-wrapper a:hover,
.main-navigation-wrapper a:focus {
  color: #fb565a;
}
.main-navigation-wrapper a:active {
  color: #000000;
  opacity: 0.3;
}
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 660px;
}
.site-navigation li {
  min-width: 100px;
  margin: 0;
  padding: 0;
  padding-left: 2px;
  padding-bottom: 16px;
  padding-top: 11px;
  margin-right: 20px;
}
.site-navigation li:first-child {
  min-width: 85px;
}
.user-navigation {
  width: 160px;
  margin-left: auto;
  text-align:  right;
  padding-left: 2px;
  padding-bottom: 16px;
  padding-top: 11px;
}
.user-navigation .cart-link {
  position: relative;
  padding-left: 50px;
}
.cart-link::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  top: 0px;
  left: 10px;

  background-image: url("../img/cart-icon.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
/*  Галерея*/
.slider {
  position: relative;
  background-color: #eeeeee;
  margin-bottom: 80px;
}
.slider-item {
  display: none;
  padding-top: 68px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 80px;
}
.slider-item:nth-child(1) {
  display: block;
  background-image: url("../img/slide1.png");
  background-position: 94% 8px;
  background-repeat: no-repeat;
}
.slider-item:nth-child(2) {
  /* display: block; */
  background-image: url("../img/slide2.png");
  background-position: 100% 0;
  background-repeat: no-repeat;
}
.slider-item:nth-child(3) {
  /* display: block; */
  background-image: url("../img/slide3.png");
  background-position: 100% 20px;
  background-repeat: no-repeat;
}
.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
.slider-item p {
  max-width: 430px;
  margin: 0;
  line-height: 24px;
  margin-bottom: 38px;
}
.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}
.slider-controls i {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}
.slider-controls i:after {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  top: 8px;
  left: 8px;
  z-index: 1;
  background: #ffffff;
  border-radius: 50%;
}
.slider-controls .active::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}
/*  Стили для main*/
.features-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 3px rgba(238,238,238);
  margin-bottom: 40px;
}
.feature-item {
  padding: 0;
  margin: 0;
  margin-right: 100px;
  margin-bottom: 80px;
  width: 300px;
}
.feature-item:nth-child(3n) {
  margin-right: auto;
}
.feature-item h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}
.feature-item p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}
.feature-item img {
  margin-bottom: 21px;
}
.feature-item-button-1,
.feature-item-button-2,
.feature-item-button-3 {
  min-width: 160px;
}
.feature-item-button-2 {
  background-color: #00ca74;
}
.feature-item-button-3 {
  background-color: #efc84a;
}
.feature-item-button-2:hover,
 .feature-item-button-2:focus {
  background-color: #00bc6c;
}
.feature-item-button-2:active {
  background-color: #00aa62;
}
.feature-item-button-3:hover,
 .feature-item-button-3:focus {
  background-color: #eab534;
}
.feature-item-button-3:active {
  background-color: #e5a722;
}
.about-us {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 3px rgba(238,238,238);
}
.about-us h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 3px;
  margin-bottom: 26px;
  margin-top: 16px;
}
.advantages {
  margin: 0;
  padding: 0;
  width: 760px;
  margin-right: 20px;
  margin-top: 22px;
  margin-bottom: 45px;
}
.advantages p {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 34px;
}
.advantages strong {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}
.advantages-list {
  list-style: none;
  margin: 0;
  margin-bottom: 16px;
}
.advantages-list li {
  margin: 0;
  margin-bottom: 30px;
}
.advantages-list li {
  position: relative;
}
.advantages-list li::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  top: 50%;
  left: -35px;
  background-color: #fb565a;
}
.statistics {
  width: 360px;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
}
.statistics img {
  width: 360px;
  height: 208px;
  margin-bottom: 16px;
}
.statistics-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.statistics h3 {
  padding-left: 20px;
}
.statistics-list li {
  width: 120px;
  margin: 0;
  padding: 0;
}
.statistics-list dt {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  padding-top: 8px;
  padding-bottom: 19px;
  padding-left: 2px;
}
.statistics-list span {
  font-size: 26px;
  vertical-align: text-top;
}
.statistics-list dd,
.statistics-list dl {
  margin: 0;
  padding: 0;
}
.product-links {
  margin-bottom: 80px;
}
.product-links-list ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto 0;
  padding: 0;
  box-shadow: 0 3px rgba(238,238,238);
}
.product-links-list li {
  position: relative;
  width: 260px;
  height: 175px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.2
}
.product-links-list li:hover,
.product-links-list li:focus {
  opacity: 1;
}
.product-links-list li:active {
  opacity: 0.1;
}
.product-links-list li::after {
  position: absolute;
  content: "";
  height: 50px;
  width: 2px;
  background-color: #eeeeee;
  top: 68px;
  right: -21px;
}
.product-links-list li:nth-child(4n)::after {
  display: none;
}
.map-and-contacts {
  position: relative;
  box-sizing: border-box;
  min-width: 1200px;
  min-height: 415px;
  margin-bottom: 67px;
}
.address-and-contacts {
  position: absolute;
  width: 320px;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 47px;
  padding-bottom: 44px;
  margin-top: 55px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  z-index: 1;
  background-color: #ffffff;
}
.map {
  position: absolute;
  width: 100%;
  height: 100%;
}
.address-and-contacts h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  padding: 0;
  margin:0;
  margin-bottom: 22px;
  text-transform: uppercase;
}
.address-and-contacts span {
  margin-top: 10px;
}
.our-address {
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
}
.button-contacts {
  min-width: 219px;
}
/*  Стили для футера*/
.footer-social {
  display: flex;
  margin-bottom: 70px;
}
.footer-social ul {
  display: flex;
  width: 260px;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  margin-right: 136px;
  padding: 0;
}
.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: #e1e1e1;
  border-radius: 50%;
}
.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}
.social-button:hover path,
.social-button:focus path {
  fill: #ffffff;
}
.social-button:active {
  background-color: #d7373b;
}
.social-button:active path {
  fill: #e37376;
}
.footer-info {
  box-sizing: border-box;
  margin-top: 5px;
}
.footer-info b {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}
.footer-info p {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}
