body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.container {
  width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow:hidden;
}
.button {
  display: inline-block;
  box-sizing: border-box;
  min-width: 240px;
  max-width: 500px;
  padding: 16px 10px;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;

  border-radius: 3px;
  color: #ffffff;
  background-color: #fb565a;
}
.button:hover,
.button:focus {
  background-color: #e74246;
}
.button:active {
  color: rgba(255, 255, 255,0.3);
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0,0,0,0.1) inset;
}
.main-header {
  background-color: #eee;
}
.main-header-logo {
  width: 160px;
  height: 65px;
  margin-right: 160px;
}
.site-navigation,
.user-navigation {
  list-style: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
.main-navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.main-navigation-wrapper {
  display: flex;
  width: 800px;
  margin: 0;
  margin-top: 15px;
  padding: 0;
}
.main-navigation-wrapper a {
  color: #000000;
}
.main-navigation-wrapper a:hover,
.main-navigation-wrapper a:focus {
  color: #fb565a;
}
.main-navigation-wrapper a:active {
  color: #000000;
  opacity: 0.3;
}
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 660px;
}
.site-navigation li {
  min-width: 100px;
  margin: 0;
  padding: 0;
  padding-left: 2px;
  padding-bottom: 16px;
  padding-top: 11px;
  margin-right: 20px;
}
.site-navigation li:first-child {
  min-width: 85px;
}
.user-navigation {
  width: 160px;
  margin-left: auto;
  text-align:  right;
  padding-left: 2px;
  padding-bottom: 16px;
  padding-top: 11px;
}
.user-navigation .cart-link {
  position: relative;
  padding-left: 50px;
}
.cart-link::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  top: 0px;
  left: 10px;

  background-image: url("../img/cart-icon.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
/*  Галерея*/
.slider {
  position: relative;
  background-color: #eeeeee;
}
.slider-item {
  display: none;
  padding-top: 68px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 80px;
}
.slider-item:nth-child(1) {
  /* display: block; */
  background-image: url("../img/slide1.png");
  background-position: 93% 18px;
  background-repeat: no-repeat;
}
.slider-item:nth-child(2) {
  /* display: block; */
  background-image: url("../img/slide2.png");
  background-position: 100% 0;
  background-repeat: no-repeat;
}
.slider-item:nth-child(3) {
  display: block;
  background-image: url("../img/slide3.png");
  background-position: 100% 20px;
  background-repeat: no-repeat;
}
.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
.slider-item p {
  max-width: 430px;
  margin: 0;
  line-height: 24px;
  margin-bottom: 38px;
}
.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}
.slider-controls i {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}
.slider-controls i:after {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  top: 8px;
  left: 8px;
  z-index: 1;
  background: #ffffff;
  border-radius: 50%;
}
.slider-controls .active::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}
